/*******************************************
                Variables
*******************************************/
:root {
  --Gradient: hsl(6, 100%, 80%);
  --to-Gradient: hsl(335, 100%, 65%);

  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --Very-Dark-Blue-07: hsla(229, 57%, 11%,0.7);

  --font-familly-raleway: "Raleway", sans-serif;
}

/*******************************************
                CSS Reset
*******************************************/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
/*******************************************
                Shared CSS
*******************************************/

/********
to center a container :If you want the .row to be centered vertically in the view port,
 assign 100% height to html and body, and also zero out the body margins.
You need to define the width of the element you are centering, not the parent element.
 {
    margin: 0 auto;
    width: 90%;
}
******/
html{
    height: 100%;
}

/*******************************
    to center the card using flexbox 
    you need to declare body display flex
    and center it so the container of 
    the card takes the width of the content not 
    the width of the entire body
*******************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: var(--font-familly-raleway);
    background-color: var(--Dark-Blue);
    background-image: url(./images/bg-mobile.png), url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: 0px top, 250px top;
    background-size: 100%;
    height: 100%;
  }
  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* margin-top: 7%; */
  /* border: 5px solid orangered; */
  
}
.shared-card {
  display: flex;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.34);
  background-color: var(--Dark-Blue);
  padding: 2rem;
  border-radius: 1rem;
  flex-direction: column;
  /* min-width: 23em; */

}
.top-card {
  display: flex;
  /* justify-content: start;
  align-items: start; */
  border-top-right-radius: 5rem;
  padding-right: 5rem;
  margin-bottom: 1rem;
  width: 100%;
  /* border: 5px solid black; */
}
.bottom-card {
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 5px solid yellow; */
}
/*******************************************
                Top Card
*******************************************/
.logo {
    margin-bottom: 1.5rem;
}
.files-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* border: 5px solid yellowgreen; */
}
.shared-back{
  background-color: var(--Very-Dark-Blue);
  padding: 10px;
  border-radius: 5px;
  margin-right: 1rem;
  flex: 1;
  height: 100%;
  width: 100%;
}
.document{
  height: 100%;
  transition: transform 0.5s;
}
.document:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.folder{
  height: 100%;
  transition: transform 0.5s;
}
.folder:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.upload{
  height: 100%;
  transition: transform 0.5s;
}
.upload:hover{
  cursor: pointer;
  transform: scale(1.1);
}
/*******************************************
                Bottom Card
*******************************************/
.remaining-storage{
  color: var(--Pale-Blue);
  margin-bottom: 1rem;

}
.remaining-storage > span{
  font-weight: 700;
  margin-left: 4px;
  margin-right: 4px;
}
/**********************PROGRESS BAR*************************/
/***********To make a progress bar you need to make a div contained
in another div define the height of the two divs center them using
flex postion the other divs abolute relative to the parent div*************/
.progress-bar{
 min-width: 100%;
 border-radius: 10px;
 /* border: 2px solid green; */
 margin-bottom: 4rem;
height: 100%;
}
.progress-background{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.4rem;
  background-color: var(--Very-Dark-Blue-07) ;
  /* border: 2px solid brown; */
  width: 100%;
  height: 17px;
  border-radius: 10px;
  z-index: 0;
}
.progress-flow{
  display: flex;
  justify-content: end;
  align-items: center;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width: 0;
  height: 13px;
  /* border: 2px solid greenyellow; */
  z-index: 2;
  border-radius: 10px;
  position: relative;
  left: 2px;
  animation: progress-flow 1s linear forwards;
}
.circle{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--Pale-Blue);
  z-index: 3;
  position: absolute;
  right: 3px;
}
.limits{
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 /* border: 2px solid red; */
 color: var(--Pale-Blue);
 font-weight: 400;
}
@keyframes progress-flow {
  100%{
    width: 70%;
  }
}

/*************END OF PROGRESS BAR*************/
.remaining-upload{
background-color: var(--Pale-Blue);
border-radius: 5px;
padding: 0.5rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
font-weight: 700;
font-size: 2.5rem;
position: absolute;
bottom: -2.5rem;
margin-left: auto;
margin-right: auto;
}
/******************************
    To center a div using position:absolute; there is trick 
    margin-left: auto; and margin-right:auto; 
    will do the trick better then going all day figuring out what 
    magic number u need to guess to make it work
******************************/
.gb-left{
  color: var(--Grayish-Blue);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  
}
/*******************************************
                Media Querie
*******************************************/
@media (min-width: 850px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: fit-content;  
        -moz-width: -moz-fit-content;
        width: fit-content;
      }
    .top-card{
        margin-right: 1.5rem;
        min-width: 50%;
    }
    .files-card{
      display: flex;
      width: 100%;
      height: 100%;
      flex: 1;
    }
    .shared-back{
      display: flex;
      width: 100%;
      height: 100%;
      /* background-size: 100%;
      /* justify-content: stretch; */
      /* align-items: stretch; 
      justify-content: stretch;
  */
    }
    .bottom-card{
      display: flex;
      min-width: 70%;
      position: relative;
      margin-bottom: -20px;
    }
    .remaining-storage{
     align-self: start;
 
    }
    .remaining-upload{
      display: flex;
      position: absolute;
      top: -3.6rem; 
      right: 2rem;
      padding-bottom: 0.5rem;
      bottom: revert;
     border: 10% / 20px;;
    }
    .remaining-upload::before{
      content: "";
      position: absolute;
      background: var(--Pale-Blue);
      width: 30px;
      height: 20px;
      bottom: 0;
      right: 0;
      transform: skew(180deg, 34deg);
      overflow: hidden;
    }
    .progress-bar{
      margin-bottom: 0;
    }
    .gb-left{
      display: flex;
      align-items: center;
  
    }
}